<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Defina o cabeçalho do seu layout usando classes do Bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Floricultura Reginalva</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_plantas' %}">Estoque De Plantas</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contatos' %}">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if request.user.is_authenticated %}
                           <li class="nav-item">
                                <span class="nav-link">{{ request.user.email }}</span>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="{% url 'logout' %}">
                                    Logout
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>


            </div>
        </nav>
    </header>
    <main>
        <!-- Defina a área de conteúdo variável que será substituída em cada página -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="bg-light text-center">
        <!-- Defina o rodapé do seu layout -->
        <p>&copy; 2023 Floricultura Reginalva. Todos os direitos reservados.</p>
    </footer>
    <!-- Adicione os scripts JS do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
